@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    src: url("../public/assets/fonts/Poppins-Bold.ttf");
  }
  
  @font-face {
    font-family: "Pacifico";
    src: url("../public/assets/fonts/Pacifico-Regular.ttf");
  }

  
  @font-face {
    font-family: "byekan";
    src: url("../public/assets/fonts/BYekan+.ttf");
  }
  
  
  @font-face {
    font-family: "caveat";
    src: url("../public/assets/fonts/Caveat-Medium.ttf");
  }
  
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  body {
    overflow-x: hidden;

  }
  
  ::selection {
    background:#d9eaf887 ;
  }
  
  .rtl {
    direction: rtl;
  }

  .tit {
  
    -webkit-text-stroke-width: .01px;
    -webkit-text-stroke-color: #ff811a;
   }

  .text-border {
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #222;
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b4cadf; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5b7fa1; }
  